<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="">
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <div class="col-12 md:col-4">
                  <label class="form-label"> buscar</label>
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                      <a href="javascript:void(0)" (click)="onSearch(buscar)"><i class="fa fa-search"></i></a>
                    </span>
                    <input
                      #buscar
                      pInputText
                      type="text"
                      class="filter-ngx form-control"
                      placeholder="Search..."
                      autocomplete="off"
                      [(ngModel)]="search"
                      (keyup.enter)="onSearch(search)"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4 col-md-4 form-group">
                <div class="col-12 md:col-4">
                  <label for="range" class="form-label">Rango de fecha(inicio - fin)</label>
                  <div class="p-inputgroup">
                    <p-calendar
                      [(ngModel)]="rangeDates"
                      selectionMode="range"
                      [readonlyInput]="true"
                      [showIcon]="true"
                      inputId="range"
                      [style]="{ width: '100%' }"
                      inputId="icon"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true"
                      inputId="buttonbar"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-2 col-md-2">
                <br />
                <a type="button" class="btn btn-primary" (click)="onSelect()"><i class="pi pi-search"></i> buscar </a>
              </div>
              <div class="col-12 col-sm-2 col-md-2">
                <br />
                <a type="button" class="btn btn-primary" routerLink="/inventory/add-inventory"
                  ><i class="pi pi-plus"></i> Nuevo
                </a>
              </div>
            </div>
          </div>
          <div class="category-table custom-datatable">
            <div class="table-responsive">
              <p-table
                #table
                [value]="movement"
                [rows]="10"
                styleClass="p-datatable-sm"
                [tableStyle]="{ 'min-width': '50rem' }"
                [lazy]="true"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nombre</th>
                    <th>Serie</th>
                    <th>Documento</th>
                    <th>Moneda</th>
                    <th>Fecha Registro</th>
                    <th>Cantidad</th>
                    <th>Ope. Grabada</th>
                    <th>IGV</th>
                    <th>Total</th>
                    <th style="width: 1rem">Accion</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.movement.serie }} - {{ item.movement.number }}</td>
                    <td>{{ item.movement.type }}</td>
                    <td>{{ item.movement.currency }}</td>
                    <td>{{ item.movement.issue_date | date : "dd/MM/yyyy" }}</td>
                    <td>{{ item.movement.quantity }}</td>
                    <td>{{ item.movement.recorded_operation }}</td>
                    <td>{{ item.movement.igv }}</td>
                    <td>{{ item.movement.total }}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="open(content, item.movement.id)"
                        ><i class="fa fa-edit f-12"></i
                      ></a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="12">No se encontraron registros</td>
                  </tr>
                </ng-template>
              </p-table>
              <p-paginator
                [rows]="10"
                (onPageChange)="paginate($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="totalRecords"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="  {first} a {last} de {totalRecords} registros"
              ></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title f-w-600" id="exampleModalLabel">Detalle</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="category-table custom-datatable">
      <div class="table-responsive">
        <p-table
          #table
          [value]="detail"
          [rows]="10"
          styleClass="p-datatable-sm"
          [tableStyle]="{ 'min-width': '50rem' }"
          [lazy]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th>Codigo</th>
              <th>Unidad</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Descuento</th>
              <th>Igv</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detail>
            <tr>
              <td>{{ detail.product.name }}</td>
              <td>{{ detail.product.code }}</td>
              <td>{{ detail.unit }}</td>
              <td>{{ detail.quantity }}</td>
              <td>{{ detail.price }}</td>
              <td>{{ detail.discount }}</td>
              <td>{{ detail.igv }}</td>
              <td>{{ detail.total }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="12">No se encontraron registros</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-window-close"></i>
      Cerrar
    </button>
  </div>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
