<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button
                                type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-original-title="test"
                                data-target="#exampleModal"
                                (click)="open(content, 0)"
                        >
                            Nuevo
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-search"></i>
              </span>
                            <input
                                #buscar
                                class="form-control"
                                id="seach"
                                [(ngModel)]="search"
                                name="search"
                                placeholder="buscar..."
                                type="text"
                                (input)="onSearch(search)"
                            />
                        </div>
                    </div>
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Codigo padre</th>
                                    <th>Codigo hijo</th>
                                    <th>Descripción</th>
                                    <th>Descripción n2</th>
                                    <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @if (general.length === 0) {
                                        <tr>
                                            <td colspan="12"> No existen registros</td>
                                        </tr>
                                    }
                                    @for (item of general; track item.id) {
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.parentcode }}</td>
                                            <td>{{ item.code }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.description2 }}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="open(content, item.id)"><i
                                                        class="fa fa-edit f-12"></i></a
                                                >&nbsp;
                                                <a href="javascript:void(0)" (click)="onDelete(item.id)"><i
                                                        class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-8 col-sm-8">
                                <div class="d-flex justify-content-start p-2">
                                    <label> Existe(n) {{ totalRecords }} resultado(s) para mostrar </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="d-flex justify-content-sm-center justify-content-md-center justify-content-xl-end p-2">
                                    @if (collectionSize != 0) {
                                        <ngb-pagination class="d-flex justify-content-end"
                                                        [collectionSize]="collectionSize"
                                                        [(page)]="page" [pageSize]="pageSize" [rotate]="true"
                                                        [maxSize]="5"
                                                        [boundaryLinks]="true" (pageChange)="paginate($event)"/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">General</h5>
        <button type="button" class="close" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="needs-validation" autocomplete="off" [formGroup]="generalForm">
            <div class="form">
                <div class="form-group">
                    <label for="codigoPadre" class="mb-1">codigo padre:</label>
                    <input
                            class="form-control"
                            id="codigoPadre"
                            type="text"
                            formControlName="parentcode"
                            [class.is-invalid]="isFieldInvalid('parentcode')"
                    />
                    @if (isFieldInvalid('parentcode')) {
                        <div class="invalid-feedback">
                            Es necesario el codigo padre
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="codigoHijo" class="mb-1">Codigo hijo:</label>
                    <input
                            class="form-control"
                            id="codigoHijo"
                            type="text"
                            formControlName="code"
                            [class.is-invalid]="isFieldInvalid('code')"/>
                    @if (isFieldInvalid('code')) {
                        <div class="invalid-feedback">
                            Es necesario el codigo
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="descripcion" class="mb-1">Descripcion:</label>
                    <input
                            class="form-control"
                            id="descripcion"
                            type="text"
                            formControlName="description"
                            [class.is-invalid]="isFieldInvalid('description')"
                    />
                    @if (isFieldInvalid('description')) {
                        <div class="invalid-feedback">
                            Es necesario la descripción
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="descripcion2" class="mb-1">Descripcion 2:</label>
                    <input
                            class="form-control"
                            id="descripcion2"
                            type="text"
                            formControlName="description2"
                    />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">
            <i class="fa fa-save"></i>
            Guardar
        </button>
        <button
                class="btn btn-secondary"
                type="button"
                data-dismiss="modal"
                (click)="modal.dismiss('Cross click')"
        >
            <i class="fa fa-window-close"></i>
            Cerrar
        </button>
    </div>
</ng-template>
<!-- Container-fluid Ends-->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true"
><p style="color: white">Cargando...</p></ngx-spinner
>
