<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-original-title="test"
                                data-target="#exampleModal"
                                (click)="open(content, 0)">
                            Nuevo
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-search"></i>
              </span>
                            <input
                                #buscar
                                class="form-control"
                                id="seach"
                                [(ngModel)]="search"
                                name="search"
                                placeholder="buscar..."
                                type="text"
                                (input)="onSearch(search)"
                            />
                        </div>
                    </div>

                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @if (warehouse.length === 0) {
                                        <tr>
                                            <td colspan="10">No existe resitros</td>
                                        </tr>
                                    }
                                    @for (item of warehouse; track item.id) {
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.phone }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="open(content, item.id)"
                                                ><i class="fa fa-edit f-12"></i></a
                                                >&nbsp;
                                                <a href="javascript:void(0)" (click)="onDelete(item.id)"><i
                                                        class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-8 col-sm-8">
                                <div class="d-flex justify-content-start p-2">
                                    <label> Existe(n) {{ totalRecords }} resultado(s) para mostrar </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="d-flex justify-content-sm-center justify-content-md-center justify-content-xl-end p-2">
                                    @if (totalRecords != 0) {
                                        <ngb-pagination class="d-flex justify-content-end"
                                                        [collectionSize]="totalRecords"
                                                        [(page)]="page" [pageSize]="pageSize" [rotate]="true"
                                                        [maxSize]="5"
                                                        [boundaryLinks]="true" (pageChange)="paginate($event)"/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Categoria {{ id }}</h5>
        <button type="button" class="close" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="needs-validation" [formGroup]="productForm" autocomplete="off"
              #forma="ngForm">
            <div class="form">
                <div class="form-group">
                    <label for="names" class="mb-1">Nombre :</label>
                    <input
                            class="form-control"
                            id="names"
                            type="text"
                            formControlName="name"
                            name="name"
                            required
                            [class.is-invalid]="isFieldInvalid('name')"
                    />
                    @if (isFieldInvalid('name')) {
                        <div class="text text-danger">
                            Es necesario ingresar un nombre
                        </div>
                    }

                </div>
                <div class="form-group">
                    <label for="phone" class="mb-1">Telefono :</label>
                    <input
                            class="form-control"
                            id="phone"
                            type="text"
                            formControlName="phone"
                            name="phone"
                            required
                            [class.is-invalid]="isFieldInvalid('phone')"
                    />
                    @if (isFieldInvalid('phone')) {
                        <div class="invalid-feedback">
                            Es necesario ingresar un télefono
                        </div>
                    }

                </div>
                <div class="form-group">
                    <label for="address" class="mb-1">Direccion :</label>
                    <input
                        #input
                        class="form-control"
                        id="address"
                        type="text"
                        formControlName="address"
                        name="address"
                        required
                        [class.is-invalid]="isFieldInvalid('address')"
                    />
                    @if (isFieldInvalid('address')) {
                        <div class="invalid-feedback">
                            Es necesario ingresar una dirección
                        </div>
                    }

                </div>
                <div class="form-group">
                    <label for="email" class="mb-1">Email :</label>
                    <input
                        class="form-control"
                        id="email"
                        type="text"
                        formControlName="email"
                        name="email"
                    />
                </div>
                <div class="form-group">
                    <label class="mb-1">Departamento :</label>
                    <ng-select placeholder="Seleccionar Departamento" (change)="getProvincia($event)"
                               formControlName="department">
                        @for (item of departamento; track item.code) {
                            <ng-option [value]='item.code'>{{ item.description }}</ng-option>
                        }
                    </ng-select>
                    @if (isFieldInvalid('department')) {
                        <div
                                class="invalid-feedback">
                            Es necesario ingresar un departamento
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label class="mb-1">Provincia :</label>
                    <ng-select placeholder="Seleccionar Departamento" (change)="getDistrito($event)"
                               formControlName="province">
                        @for (item of provincia; track item.code) {
                            <ng-option [value]='item.code'>{{ item.description }}</ng-option>
                        }
                    </ng-select>
                    @if (isFieldInvalid('province')) {
                        <div
                                class="invalid-feedback">
                            Es necesario ingresar un departamento
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label class="mb-1">Distrito :</label>
                    <ng-select placeholder="Seleccionar Departamento"
                               formControlName="ubigeo">
                        @for (item of distrito; track item.code) {
                            <ng-option [value]='item.code'>{{ item.description }}</ng-option>
                        }
                    </ng-select>
                    @if (isFieldInvalid('ubigeo')) {
                        <div
                                class="invalid-feedback">
                            Es necesario ingresar un departamento
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                (click)="onSave()"
                [disabled]="!forma.valid">
            <i class="fa fa-save"></i>
            Guardar
        </button>
        <button
                class="btn btn-secondary"
                type="button"
                data-dismiss="modal"
                (click)="modal.dismiss('Cross click')">
            <i class="fa fa-window-close"></i>
            Cerrar
        </button>
    </div>
</ng-template>
<!-- Container-fluid Ends-->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true"
><p style="color: white">Cargando...</p></ngx-spinner
>
