<!-- Container-fluid starts-->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="btn-popup pull-right">
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-original-title="test"
              data-target="#exampleModal"
              (click)="open(content, 0)"
            >
              Agregar
            </button>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h5 class="modal-title f-w-600" id="exampleModalLabel">Categoria</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="needs-validation" [formGroup]="productForm" autocomplete="off" #forma="ngForm">
                  <div class="form">
                    <div class="form-group">
                      <label for="validationCustom01" class="mb-1">Nombre :</label>
                      <input
                        #input
                        class="form-control"
                        id="validationCustom01"
                        type="text"
                        formControlName="name"
                        name="name"
                        required
                        [class.is-invalid]="
                          productForm.get('name').invalid && productForm.get('name').touched
                        "
                      />
                      <div
                        *ngIf="
                          productForm.controls.name.touched && productForm.controls.name.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar un numero de documento
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom02" class="mb-1">Telefono :</label>
                      <input
                        #input
                        class="form-control"
                        id="validationCustom01"
                        type="text"
                        formControlName="phone"
                        name="phone"
                        required
                        [class.is-invalid]="
                          productForm.get('phone').invalid && productForm.get('phone').touched
                        "
                      />
                      <div
                        *ngIf="
                          productForm.controls.phone.touched && productForm.controls.phone.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar un telefono
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom03" class="mb-1">Direccion :</label>
                      <input
                        #input
                        class="form-control"
                        id="validationCustom01"
                        type="text"
                        formControlName="address"
                        name="address"
                        required
                        [class.is-invalid]="
                          productForm.get('address').invalid && productForm.get('address').touched
                        "
                      />
                      <div
                        *ngIf="
                          productForm.controls.address.touched &&
                          productForm.controls.address.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar una direccion
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom03" class="mb-1">Email :</label>
                      <input
                        #input
                        class="form-control"
                        id="validationCustom01"
                        type="text"
                        formControlName="email"
                        name="email"
                        required
                        [class.is-invalid]="
                          productForm.get('email').invalid && productForm.get('email').touched
                        "
                      />
                      <div
                        *ngIf="
                          productForm.controls.email.touched && productForm.controls.email.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar un correo
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom03" class="mb-1">Departamento :</label>
                      <p-dropdown
                        [options]="departamento"
                        optionLabel="descriptions"
                        [filter]="true"
                        filterBy="descriptions"
                        [showClear]="true"
                        [style]="{ width: '100%' }"
                        (onChange)="getProvincia($event)"
                        [formControl]="productForm.controls['departament']"
                        placeholder="documento.."
                        name="departament"
                        dataKey="code"
                        [class.is-invalid]="
                          productForm.get('departament').invalid && productForm.get('departament').touched
                        "
                      >
                      </p-dropdown>
                      <div
                        *ngIf="
                          productForm.controls.departament.touched &&
                          productForm.controls.departament.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar un departamento
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom03" class="mb-1">Provincia :</label>
                      <p-dropdown
                        [options]="provincia"
                        optionLabel="descriptions"
                        [filter]="true"
                        filterBy="descriptions"
                        [showClear]="true"
                        (onChange)="getDistrito($event)"
                        [formControl]="productForm.controls['province']"
                        [style]="{ width: '100%' }"
                        placeholder="documento.."
                        dataKey="code"
                        [class.is-invalid]="
                          productForm.get('province').invalid && productForm.get('province').touched
                        "
                      >
                      </p-dropdown>
                      <div
                        *ngIf="
                          productForm.controls.province.touched &&
                          productForm.controls.province.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar un provincia
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="validationCustom03" class="mb-1">Distrito :</label>
                      <p-dropdown
                        [options]="distrito"
                        optionLabel="descriptions"
                        [filter]="true"
                        filterBy="descriptions"
                        [showClear]="true"
                        [style]="{ width: '100%' }"
                        [formControl]="productForm.controls['distrit']"
                        dataKey="code"
                        placeholder="documento.."
                        [class.is-invalid]="
                          productForm.get('distrit').invalid && productForm.get('distrit').touched
                        "
                      >
                      </p-dropdown>
                      <div
                        *ngIf="
                          productForm.controls.distrit.touched &&
                          productForm.controls.distrit.errors?.required
                        "
                        class="text text-danger"
                      >
                        es necesario ingresar un distrito
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <div *ngIf="edit; else newCategory">
                  <button
                    #edit
                    type="button"
                    class="btn btn-primary"
                    (click)="onUpdate()"
                    (click)="modal.dismiss('Cross click')"
                    [disabled]="!forma.valid"
                  >
                    <i class="fa fa-edit"></i>
                    editar
                  </button>
                </div>
                <ng-template #newCategory>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSave()"
                    (click)="modal.dismiss('Cross click')"
                    [disabled]="!forma.valid"
                  >
                    <i class="fa fa-save"></i>
                    Guardar
                  </button>
                </ng-template>

                <button
                  class="btn btn-secondary"
                  type="button"
                  data-dismiss="modal"
                  (click)="modal.dismiss('Cross click')"
                >
                  <i class="fa fa-window-close"></i>
                  Cerrar
                </button>
              </div>
            </ng-template>
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-search"></i>
              </span>
              <input
                #buscar
                class="form-control"
                id="seach"
                [(ngModel)]="search"
                name="search"
                placeholder="buscar..."
                type="text"
                (input)="onSearch(search)"
              />
            </div>
          </div>

          <div id="batchDelete" class="category-table custom-datatable">
            <div class="table-responsive">
              <p-table
                #table
                [value]="warehouse"
                [rows]="10"
                styleClass="p-datatable-gridlines"
                selectionMode="single"
                [lazy]="true"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Accion</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alamcen>
                  <tr>
                    <td>{{ alamcen.id }}</td>
                    <td>{{ alamcen.name }}</td>
                    <td>{{ alamcen.phone }}</td>
                    <td>{{ alamcen.email }}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="open(content, alamcen.id)"
                        ><i class="fa fa-edit f-12"></i></a
                      >&nbsp;
                      <a href="javascript:void(0)" (click)="onDelete(alamcen.id)"
                        ><i class="fa fa-trash-o"></i
                      ></a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-paginator
                [rows]="10"
                (onPageChange)="paginate($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="totalRecords"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="  {first} a {last} de {totalRecords} registros"
              ></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
