<!-- Container-fluid starts-->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="btn-popup pull-right">
            <button type="button" class="btn btn-primary" (click)="onCreateLinkt()">Agregar Roles</button>
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-search"></i>
              </span>
              <input
                #buscar
                class="form-control"
                id="seach"
                [(ngModel)]="search"
                name="search"
                placeholder="buscar..."
                type="text"
                (input)="onSearch(search)"
              />
            </div>
          </div>

          <div id="batchDelete" class="category-table custom-datatable">
            <div class="table-responsive">
              <p-table
                #table
                [value]="roles"
                [rows]="10"
                styleClass="p-datatable-gridlines"
                selectionMode="single"
                [lazy]="true"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>accion</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                  <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.name }}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="onLinkedit(role.id)"
                        ><i class="fa fa-edit f-12"></i></a
                      >&nbsp;
                      <a href="javascript:void(0)" (click)="onDelete(role.id)"
                        ><i class="fa fa-trash-o"></i
                      ></a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-paginator
                [rows]="10"
                (onPageChange)="paginate($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="totalRecords"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="  {first} a {last} de {totalRecords} registros"
              ></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
