<html dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>¿HA OLVIDADO SU CONTRASEÑA?: MySite</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="icon"
      href="//d2hkcehpyog59.cloudfront.net/44685ca8cfaade90d24f718bf876257562a21214/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div class="logo"></div>

    <div class="card forgot-password">
      <form class="auth-form forgot-password" [formGroup]="forgetForm">
        <div class="row labels">
          <h2>¿HA OLVIDADO SU CONTRASEÑA?</h2>
          <h3>
            No se preocupe. Introduce tu dirección de correo electrónico y te enviaremos las instrucciones.
          </h3>
        </div>

        <div class="row email">
          <span class="icon email"> <i class="fa fa-envelope-o fa-lg"></i></span>
          <input
            type="email"
            name="email"
            required
            autofocus
            formControlName="email"
            title="Introduzca una dirección de correo electrónico válida."
            placeholder="Email"
            [class.is-invalid]="forgetForm.get('email').invalid && forgetForm.get('email').touched"
          />
          <div
            *ngIf="forgetForm.controls.email.touched && forgetForm.controls.email.errors?.required"
            class="text text-danger"
          >
            es necesario un email
          </div>
          <div *ngIf="forgetForm.controls.email.errors?.email" class="text text-danger">
            el email no es valido
          </div>
        </div>
      </form>
      <div class="row submit">
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Login</button>
        <!-- <input type="submit" class="button big blue" value="Reset Password" on />   -->
      </div>

      <span class="link login">
        ¿Ya tiene una cuenta?
        <a routerLink="/auth/login">Iniciar sesión</a>
      </span>
    </div>
  </body>
</html>
